*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
html{
        font-size: 10px;
}
body{
        font-family: 'Oswald', sans-serif;
        font-size: 1.6rem;
        background-color: #fff;
        color: #333;
        line-height: 1.6;
}

ul{
        list-style: none;
}
a{
        color: #333;
        text-decoration: none;
}
h1,h2{
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 0.3rem;
}
p{
        margin: 1rem 0;
}
img{
        width: 100%;
}
.text-center{
        text-align: center;
}
/* button */
.btn{
        cursor: pointer;
        display: inline-block;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        opacity: 0.9;
        background-color: cadetblue;
}
.btn:hover{

        opacity: 0.9;
        background-color: antiquewhite;
}